<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/styles/showDestination.css" />
</head>

<body>
    <%- include ('./partials/nav.ejs') %>
        <div id="flex-grid">
            <% for (let user of users) { %>
                <a href="/user/<%= user._id %>">
                    <figure class="user-card">
                        <img alt="<%= user.name %>" src="<%= user.img%>" width="300">
                        <figcaption>
                            <h2>
                                <%=user.firstName%><br>
                                    <%= user.lastName %>
                            </h2>
                            <h4>
                                <%= user.typeOfMotorcycle %><br>
                                    <%= user.yearsRiding %><br>
                                        <%= user.bikesOwned %><br>
                                            <%= user.experience %><br>
                            </h4>
                        </figcaption>
                    </figure>
                </a>
                <% } %>

</body>

</html>