<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/styles/showDestination.css" />
</head>

<body>
    <%- include ('./partials/nav.ejs') %>
        <div class="flex-container">
            <div id="destination">
                <img src=<%=destination.img %> width="300"/>
                <h1>
                    <%=destination.name%>
                </h1>
                <p>
                    <%= destination.description %>
                </p>
                <h3>
                    Best Time to Visit: <%= destination.timeOfYear %>
                </h3>
                <h3>
                    Miles Round Trip: <%= destination.mileage %><br>
                        Difficulty: <%= destination.difficulty %><br>
                            Terrain: <%= destination.roadTerrain %>
                </h3>
            </div>
            <a href="/destination/<%= destination._id %>/edit"><button>Edit Destination</button></a>
            <form action="/destination/<%= destination._id %>?_method=DELETE" method="POST">
                <button class="delete" type="submit">DELETE</button>
            </form>

        </div>

</body>
<script>

</script>

</html>